.thi-trang-nam11 {
  position: absolute;
  top: 0.69rem;
  left: 0;
  letter-spacing: 0.03em;
  font-weight: 900;
  font-family: var(--font-poppins);
  display: inline-block;
  width: 43.5rem;
  height: 1.69rem;
}
.frame-child12 {
  position: absolute;
  top: -2.31rem;
  left: 0;
  background-color: var(--color-white);
  width: 120rem;
  height: 11.69rem;
}
.ti-xung-4-14 {
  position: absolute;
  top: 0;
  left: 74.19rem;
  width: 5.44rem;
  height: 4.63rem;
  object-fit: cover;
}
.gi-hng4 {
  position: absolute;
  top: 4.44rem;
  left: 65.56rem;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  font-weight: 500;
  color: var(--color-black);
}
.thi-trang-n4,
.thng-hiu4,
.ti-khon4 {
  letter-spacing: 0.01em;
  display: inline-block;
}
.ti-khon4 {
  position: absolute;
  top: 4.44rem;
  left: 56.75rem;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-black);
  width: 4.75rem;
  height: 1.56rem;
}
.thi-trang-n4,
.thng-hiu4 {
  top: 2.88rem;
  cursor: pointer;
}
.thi-trang-n4 {
  position: absolute;
  left: 0;
  width: 12.4rem;
  height: 1.68rem;
}
.thng-hiu4 {
  left: 12.63rem;
  width: 13.06rem;
  height: 2.19rem;
}
.lm-p9,
.menu4,
.thng-hiu4 {
  position: absolute;
}
.lm-p9 {
  top: 2.88rem;
  left: 25rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  width: 8.03rem;
  height: 2.12rem;
  mix-blend-mode: normal;
  cursor: pointer;
}
.menu4 {
  top: 0.81rem;
  left: 21.88rem;
  width: 79.63rem;
  height: 6rem;
  font-size: var(--font-size-3xl);
  color: var(--color-crimson);
}
.frame-child13 {
  position: absolute;
  top: 0;
  left: -1.87rem;
  background-color: var(--color-white);
  width: 1.88rem;
  height: 1.44rem;
}
.ti-xung-2-14 {
  position: absolute;
  top: 0.81rem;
  left: 88.44rem;
  width: 4.06rem;
  height: 4.19rem;
  object-fit: cover;
  cursor: pointer;
}
.download-3-14,
.ng-nhp6 {
  position: absolute;
  left: 105.06rem;
}
.download-3-14 {
  top: 0.69rem;
  width: 4.06rem;
  height: 5rem;
  object-fit: cover;
  cursor: pointer;
}
.ng-nhp6 {
  top: 5.25rem;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  width: 5.38rem;
  height: 1.13rem;
}
.frame-child14 {
  position: absolute;
  top: 3.13rem;
  left: 7.81rem;
  background-color: #b5b2b2;
  width: 13.25rem;
  height: 2.69rem;
}
.thi-trang-nam13 {
  position: absolute;
  top: 3.5rem;
  left: 8.81rem;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.01em;
  color: #111010;
  display: inline-block;
  width: 12.25rem;
  height: 2.13rem;
}
.ti-xung-1-14 {
  position: absolute;
  top: 0.94rem;
  left: 78.63rem;
  width: 4.13rem;
  height: 4.06rem;
  object-fit: cover;
  cursor: pointer;
}
.thng-bo4 {
  position: absolute;
  top: 5.63rem;
  left: 96.06rem;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  width: 5rem;
  height: 1.19rem;
}
.download-5-3 {
  position: absolute;
  top: 0;
  left: 55.19rem;
  width: 19.88rem;
  height: 9.38rem;
  object-fit: cover;
}
.tm-kim-ton3 {
  position: absolute;
  top: 4.19rem;
  left: 58.69rem;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  font-weight: 100;
  display: inline-block;
  width: 11.63rem;
  height: 0.81rem;
}
.logo-z-r-2-1-icon10 {
  position: absolute;
  top: 3.5rem;
  left: 0.31rem;
  width: 7.5rem;
  height: 1.5rem;
  object-fit: cover;
  cursor: pointer;
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0.73rem;
  width: 120rem;
  height: 15.38rem;
  overflow: hidden;
  color: var(--color-black);
}
.banner-thoi-trang-nam-cong-so-icon {
  position: absolute;
  top: 15.38rem;
  left: 7.2rem;
  width: 107.06rem;
  height: 37.31rem;
  object-fit: cover;
}
.banner-gym1-1-icon,
.download-5-1,
.icon {
  position: absolute;
  top: 76.13rem;
  left: 10.5rem;
  width: 31.25rem;
  height: 22.19rem;
  object-fit: cover;
}
.download-5-1,
.icon {
  left: 75.06rem;
  width: 30.75rem;
}
.download-5-1 {
  left: 47.25rem;
  width: 22.38rem;
}
.giy-dp-nam,
.mi-nht-trn1,
.ng-h-nam,
.qun-o-nam {
  position: absolute;
  display: inline-block;
  height: 2.63rem;
}
.mi-nht-trn1 {
  top: 2.94rem;
  left: 39.88rem;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.01em;
  width: 20.06rem;
}
.giy-dp-nam,
.ng-h-nam,
.qun-o-nam {
  top: 6.31rem;
  left: 17.31rem;
  font-family: var(--font-inter);
  width: 8.56rem;
}
.giy-dp-nam,
.ng-h-nam {
  left: 28.13rem;
  width: 9.94rem;
  height: 1.13rem;
}
.ng-h-nam {
  top: 6.38rem;
  left: 40.31rem;
  width: 9rem;
  height: 1rem;
}
.ph-kin-nam,
.tht-lng-dy-nt,
.ti-xch-v-bp {
  position: absolute;
  top: 6.5rem;
  left: 52.13rem;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 15.69rem;
  height: 2.44rem;
}
.ph-kin-nam,
.tht-lng-dy-nt {
  top: 6.44rem;
  left: 70.06rem;
  letter-spacing: 0.02em;
  width: 17.81rem;
  height: 1rem;
}
.ph-kin-nam {
  top: 6.94rem;
  left: 90.13rem;
  width: 12.69rem;
  height: 0.69rem;
}
.images-1-icon,
.screenshot-20-1 {
  position: absolute;
  top: 12.5rem;
  left: 9.19rem;
  width: 46.5rem;
  height: 17.31rem;
  object-fit: cover;
}
.screenshot-20-1 {
  left: 55.69rem;
  width: 16.5rem;
  height: 23.19rem;
}
.screenshot-21-1,
.screenshot-22-1,
.screenshot-24-1,
.screenshot-25-1 {
  position: absolute;
  top: 12.5rem;
  left: 72.19rem;
  width: 15.38rem;
  height: 23.19rem;
  object-fit: cover;
}
.screenshot-22-1,
.screenshot-24-1,
.screenshot-25-1 {
  left: 87.56rem;
  width: 15.5rem;
}
.screenshot-24-1,
.screenshot-25-1 {
  top: 35.69rem;
  left: 55.69rem;
  width: 16.5rem;
}
.screenshot-25-1 {
  left: 72.19rem;
  width: 15.38rem;
  height: 23.13rem;
}
.images-3-1,
.logo-z-r-2-1-icon11,
.screenshot-26-1 {
  position: absolute;
  top: 35.69rem;
  left: 87.44rem;
  width: 15.63rem;
  height: 23.19rem;
  object-fit: cover;
}
.images-3-1,
.logo-z-r-2-1-icon11 {
  top: 2.94rem;
  left: 59.94rem;
  width: 14.13rem;
  height: 2.63rem;
}
.images-3-1 {
  top: 29.81rem;
  left: 9.19rem;
  width: 46.5rem;
  height: 16.19rem;
}
.images-4-1,
.images-5-1 {
  position: absolute;
  top: 46rem;
  left: 8.63rem;
  width: 47.06rem;
  height: 10.25rem;
}
.images-5-1 {
  top: 46.13rem;
  left: 9.19rem;
  width: 46.5rem;
  height: 12.69rem;
  object-fit: cover;
}
.men-clothes-inner,
.mi-nht-trn-parent {
  position: absolute;
  top: 10.56rem;
  left: -7.87rem;
  width: 120rem;
  height: 59.81rem;
  overflow: hidden;
}
.men-clothes-inner {
  top: 119.25rem;
  left: 5.45rem;
  width: 110.56rem;
  height: 74.19rem;
  font-size: var(--font-size-xl);
}
.r-nht-trn1 {
  position: absolute;
  top: 2rem;
  left: 42.19rem;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 17.75rem;
  height: 2.63rem;
}
.logo-z-r-2-1-icon12 {
  position: absolute;
  top: 1.81rem;
  left: 60rem;
  width: 14.81rem;
  height: 3rem;
  object-fit: cover;
}
.download-10-1,
.download-9-1,
.screenshot-91-1 {
  position: absolute;
  top: 6.38rem;
  left: 57.88rem;
  width: 47.13rem;
  height: 47rem;
  object-fit: cover;
}
.download-10-1,
.download-9-1 {
  left: 10.81rem;
  width: 47.06rem;
  height: 26.31rem;
}
.download-10-1 {
  top: 32.69rem;
  height: 20.69rem;
}
.r-nht-trn-parent,
.screenshot-83-1 {
  position: absolute;
  left: 0.73rem;
  width: 120rem;
}
.r-nht-trn-parent {
  top: 193.44rem;
  height: 66.13rem;
  overflow: hidden;
  font-size: var(--font-size-21xl);
}
.screenshot-83-1 {
  top: 259.56rem;
  height: 24.88rem;
  object-fit: cover;
}
.background-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 121.47rem;
  height: 35.38rem;
}
.bun-bn-bun-s4,
.cung-cp-hng4,
.tuyn-i-l4 {
  position: absolute;
  height: 21.94%;
  width: 49.67%;
  top: 78.06%;
  left: 0.33%;
  letter-spacing: 0.02em;
  line-height: 2.5rem;
  display: inline-block;
}
.bun-bn-bun-s4,
.cung-cp-hng4 {
  height: 16.77%;
  width: 66.01%;
  top: 39.35%;
  left: 0.65%;
}
.cung-cp-hng4 {
  height: 36.13%;
  width: 100%;
  top: 0;
  left: 0;
}
.cooperate4 {
  position: absolute;
  top: 13rem;
  left: 78.34rem;
  width: 19.36rem;
  height: 10.05rem;
}
.mua-hng-online4 {
  position: absolute;
  height: 10.26%;
  width: 79.68%;
  top: 89.74%;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 2.5rem;
  display: inline-block;
}
.lin-h4 {
  height: 10.26%;
  width: 47.81%;
  top: 43.97%;
  left: 0.03%;
}
.chm-sc-khch4,
.h-tr4,
.hi-p4,
.lin-h4 {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 2.5rem;
  display: inline-block;
}
.chm-sc-khch4 {
  height: 11.72%;
  width: 100%;
  top: 67.76%;
  left: 0;
}
.h-tr4,
.hi-p4 {
  height: 10.26%;
  width: 41.83%;
}
.h-tr4 {
  top: 0;
  left: 0.03%;
  color: var(--color-darkturquoise-100);
}
.hi-p4 {
  top: 21.96%;
  left: 0;
}
.hp-tc4,
.support4 {
  position: absolute;
  top: 8.98rem;
  left: 58.85rem;
  width: 15.88rem;
  height: 17.69rem;
  color: var(--color-gray-100);
}
.hp-tc4 {
  top: 9.06rem;
  left: 78.44rem;
  letter-spacing: 0.02em;
  line-height: 2.5rem;
  color: var(--color-deepskyblue-100);
  display: inline-block;
  width: 8.79rem;
  height: 1.74rem;
}
.frame-icon,
.in4 {
  position: relative;
  flex-shrink: 0;
}
.frame-icon {
  border-radius: var(--br-mini);
  width: 3.29rem;
  height: 3.37rem;
}
.in4 {
  letter-spacing: 0.02em;
  line-height: 2.5rem;
  display: inline-block;
  width: 1.46rem;
  height: 1.82rem;
}
.in-container {
  border-radius: var(--br-mini);
  background-color: var(--color-khaki);
  width: 3.29rem;
  height: 3.37rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0.39rem 0.82rem;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
}
.contact4,
.theo-di-trang4 {
  position: absolute;
  left: 6.34rem;
}
.contact4 {
  top: 21.32rem;
  width: 15.82rem;
  height: 3.37rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-black);
}
.theo-di-trang4 {
  top: 11.85rem;
  letter-spacing: 0.02em;
  line-height: 2.5rem;
  color: var(--color-goldenrod);
  display: inline-block;
  width: 26.26rem;
  height: 5.14rem;
}
.logo-z-r-2-1-icon13 {
  position: absolute;
  top: 5.53rem;
  left: 5.52rem;
  width: 14.99rem;
  height: 3.09rem;
  object-fit: cover;
}
.cng-ty-cp4 {
  margin: 0;
}
.cng-ty-cp-container4 {
  position: absolute;
  top: 7.71rem;
  left: 98.46rem;
  letter-spacing: 0.02em;
  line-height: 2.5rem;
  color: var(--color-lightcoral);
  display: inline-block;
  width: 21.13rem;
  height: 23.73rem;
}
.footer4 {
  position: absolute;
  top: 284.44rem;
  left: 0;
  width: 121.47rem;
  height: 35.38rem;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}
.men-clothes {
  position: relative;
  background-color: #121111;
  width: 100%;
  height: 319.81rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.sigin-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 98.81rem;
  height: 79rem;
}
.sigin-item {
  position: absolute;
  top: 57.78rem;
  left: 48.25rem;
  width: 48.53rem;
  height: 0.06rem;
}
.ng-nhp3,
.sigin-inner {
  position: absolute;
  top: 29.97rem;
  left: 17.59rem;
  width: 62.69rem;
  height: 10.5rem;
}
.ng-nhp3 {
  top: 1.94rem;
  left: 37.38rem;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 18.69rem;
  height: 5.25rem;
}
.sigin-child1 {
  position: absolute;
  top: 12.16rem;
  left: 17.84rem;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 62.19rem;
  height: 10rem;
}
.download-4-1 {
  position: absolute;
  top: 31.5rem;
  left: 72.06rem;
  width: 5.81rem;
  height: 6.56rem;
  object-fit: cover;
}
.emails-in-thoi,
.mt-khu1 {
  position: absolute;
  top: 16.69rem;
  left: 19.88rem;
  font-size: var(--font-size-base);
  font-weight: 100;
  font-family: var(--font-inter);
  display: inline-block;
  width: 55.88rem;
  height: 2rem;
}
.mt-khu1 {
  top: 34.69rem;
  left: 20.13rem;
  width: 24.06rem;
  height: 1.25rem;
}
.sigin-child2 {
  position: absolute;
  top: 42.31rem;
  left: 32.75rem;
  background-color: #f97a05;
  width: 32.06rem;
  height: 7.63rem;
}
.ng-nhp4 {
  position: absolute;
  top: 44.56rem;
  left: 41.75rem;
  font-size: var(--font-size-17xl);
  font-weight: 100;
  color: var(--color-white);
  display: inline-block;
  width: 17.88rem;
  height: 3.06rem;
}
.qun-mt-khu {
  top: 49.69rem;
  left: 9.44rem;
  color: #125ac6;
  width: 24.13rem;
  height: 1.81rem;
}
.cha-c-ti,
.hoc,
.qun-mt-khu {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.cha-c-ti {
  top: 50.63rem;
  left: 67rem;
  color: #0f1010;
  width: 11rem;
  height: 1.63rem;
}
.hoc {
  top: 57.13rem;
  left: 45.31rem;
  width: 2.94rem;
  height: 1.25rem;
}
.screenshot-87-1,
.screenshot-88-1,
.screenshot-89-1 {
  position: absolute;
  top: 59.38rem;
  left: 28.88rem;
  width: 6.63rem;
  height: 2.38rem;
  object-fit: cover;
}
.screenshot-88-1,
.screenshot-89-1 {
  top: 59.44rem;
  left: 43.5rem;
  width: 6.5rem;
  height: 2.31rem;
}
.screenshot-89-1 {
  left: 56.38rem;
  width: 6.44rem;
}
.sigin-child3 {
  position: absolute;
  top: 57.72rem;
  left: 0;
  width: 45.31rem;
  height: 0.09rem;
}
.download-6-2,
.ng-k-ti {
  position: absolute;
  cursor: pointer;
}
.ng-k-ti {
  top: 50.69rem;
  left: 78.5rem;
  font-weight: 500;
  color: #0bc0f9;
  display: inline-block;
  width: 8.94rem;
  height: 1.25rem;
}
.download-6-2 {
  top: 1.94rem;
  left: 84.06rem;
  width: 5.06rem;
  height: 5rem;
  object-fit: cover;
}
.sigin {
  position: relative;
  width: 91.81rem;
  height: 65.94rem;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
